# Extracting data using REST API

In [16]:
import requests
import pandas as pd

In [17]:
url = 'https://jsonplaceholder.typicode.com/todos/1'
page = requests.get(url)
print(type(page))
page

<class 'requests.models.Response'>

In [18]:
page.text

'{\n  "userId": 1,\n  "id": 1,\n  "title": "delectus aut autem",\n  "completed": false\n}'

In [19]:
data = page.json()
data

{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}

In [20]:
type(data)

dict

In [21]:
url = 'https://jsonplaceholder.typicode.com/todos/2'
page = requests.get(url)
data = page.json()
data

{'userId': 1,
 'id': 2,
 'title': 'quis ut nam facilis et officia qui',
 'completed': False}

In [22]:
for i in range(1, 6):
    url = 'https://jsonplaceholder.typicode.com/todos/%d' % i
    data = requests.get(url).json()
    print(data)

{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}
{'userId': 1, 'id': 2, 'title': 'quis ut nam facilis et officia qui', 'completed': False}
{'userId': 1, 'id': 3, 'title': 'fugiat veniam minus', 'completed': False}
{'userId': 1, 'id': 4, 'title': 'et porro tempora', 'completed': True}
{'userId': 1, 'id': 5, 'title': 'laboriosam mollitia et enim quasi adipisci quia provident illum', 'completed': False}

In [23]:
df = pd.DataFrame()
for i in range(1, 6):
    url = 'https://jsonplaceholder.typicode.com/todos/%d' % i
    data = requests.get(url).json()
    df = df.append(data, ignore_index=True)
df

   completed   id                                              title  userId
0        0.0  1.0                                 delectus aut autem     1.0
1        0.0  2.0                 quis ut nam facilis et officia qui     1.0
2        0.0  3.0                                fugiat veniam minus     1.0
3        1.0  4.0                                   et porro tempora     1.0
4        0.0  5.0  laboriosam mollitia et enim quasi adipisci qui...     1.0

### Extract Weather Information about Cities

API Source: https://openweathermap.org/api

In [ ]:
api_key = 'bd0xaadfaewevdgewsdvsd9be1404f37'

In [24]:
city_name = 'Mumbai'
url = 'https://api.openweathermap.org/data/2.5/weather?q=%s&appid=%s' % (city_name, api_key)
url

'https://api.openweathermap.org/data/2.5/weather?q=Mumbai&appid=bd019be9c7f419217e897d9be1404f37'

In [25]:
data = requests.get(url).json()
data

{'coord': {'lon': 72.85, 'lat': 19.01},
 'weather': [{'id': 521,
   'main': 'Rain',
   'description': 'shower rain',
   'icon': '09d'}],
 'base': 'stations',
 'main': {'temp': 304.64,
  'feels_like': 308.05,
  'temp_min': 304.15,
  'temp_max': 305.15,
  'pressure': 1001,
  'humidity': 70},
 'visibility': 4000,
 'wind': {'speed': 4.6, 'deg': 210},
 'clouds': {'all': 40},
 'dt': 1591871707,
 'sys': {'type': 1,
  'id': 9052,
  'country': 'IN',
  'sunrise': 1591835442,
  'sunset': 1591883163},
 'timezone': 19800,
 'id': 1275339,
 'name': 'Mumbai',
 'cod': 200}

## Online JSON Viewer: http://jsonviewer.stack.hu/

In [27]:
data['main']['temp']

304.64

### Add query items as parameters

In [28]:
headers = {'apiid': api_key}
city_name = 'Mumbai'

params = {'appid': api_key, 'q': city_name}


url = 'https://api.openweathermap.org/data/2.5/weather'
data = requests.get(url, params=params).json()
data

{'coord': {'lon': 72.85, 'lat': 19.01},
 'weather': [{'id': 521,
   'main': 'Rain',
   'description': 'shower rain',
   'icon': '09d'}],
 'base': 'stations',
 'main': {'temp': 304.64,
  'feels_like': 308.05,
  'temp_min': 304.15,
  'temp_max': 305.15,
  'pressure': 1001,
  'humidity': 70},
 'visibility': 4000,
 'wind': {'speed': 4.6, 'deg': 210},
 'clouds': {'all': 40},
 'dt': 1591871707,
 'sys': {'type': 1,
  'id': 9052,
  'country': 'IN',
  'sunrise': 1591835442,
  'sunset': 1591883163},
 'timezone': 19800,
 'id': 1275339,
 'name': 'Mumbai',
 'cod': 200}